@import '~purecss/build/pure.css';

body {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
}

button {
  width: 200px;
  height: 30px;
}

.colorPanel {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
